<footer id="woz-footer">
    <div class="container">
      <h2>About this app</h2>
      <p>Written by Dan Nguyen</p>
      <p>See the source code at: <a href="https://github.com/dannguyen/congress-colleges">https://github.com/dannguyen/congress-colleges</a>.
      </p>
      <p>
        Top schools data is hand-copied from <a href="http://colleges.usnews.rankingsandreviews.com/best-colleges">U.S. News and World Report's 2016 Best Colleges</a>.
      </p>

    <p>
        Congressmember data comes from <a href="github.com/unitedstates/congress-legislators">github.com/unitedstates/congress-legislators</a>.
    </p>

    <p>
        Congressmember biographies were scraped from the BioGuide: <a href="http://bioguide.congress.gov">bioguide.congress.gov</a>

    </p>
    </div>
</footer>
