<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Congress and Elite Colleges</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/mystyles.css')}}">

    <meta property="og:title" content="Which fancy colleges do Congressmembers attend?" />
    <meta property="og:description" content="A data mashup of U.S. News college rankings and Congressional biographies" />
    <meta property="og:image" content="http://www.compjour.org/assets/images/logo.png" />

    <meta name="twitter:card" value="summary" />
    <meta name="twitter:site" value="@dancow" />
    <meta content="http://beta-congress-colleges-fun.s3-website-us-east-1.amazonaws.com/" property="twitter:url"/>
    <meta property="twitter:title" content="Which fancy colleges do Congressmembers attend?" />
    <meta property="twitter:description" content="A data mashup of college rankings and Congressional biographies" />
    <meta property="twitter:image" content="http://www.compjour.org/assets/images/logo.png" />


</head>
<body>

{% include 'partials/header.html' %}
